BOOKING_URL=https://soton.gladstonego.cloud/account
GYM_USERNAME=
GYM_PASSWORD=
TIMEZONE=Europe/London
HEADLESS=false
DRY_RUN=true
TARGET_DATE_OVERRIDE=
DEBUG_PAUSE_SECONDS=
PREFERRED_TIMES=19:00,18:00
PREFERRED_COURTS=1,2,3,4
