BOOKING_URL=https://soton.gladstonego.cloud/account
GYM_USERNAME=
GYM_PASSWORD=
TIMEZONE=Europe/London
HEADLESS=false
DRY_RUN=true
TARGET_DATE_OVERRIDE=
DEBUG_PAUSE_SECONDS=
PREFERRED_TIMES=18:00,19:00,21:00
PREFERRED_COURTS=4,3,2,1
SECONDARY_BOOKING_ENABLED=false
SECONDARY_GYM_USERNAME=
SECONDARY_GYM_PASSWORD=
SECONDARY_PREFERRED_TIMES=18:00,20:00,21:00
SECONDARY_PREFERRED_COURTS=4,3,2,1
